// Custom Styles
$primary: teal;
$bg-dark: #ced4da;
a,
a:link,
a:visited {
	color: white;
	text-decoration: inherit;
	&:hover {
		color: white;
	}
}
textarea {
	resize: none;
}
.hover-scale {
	&:hover {
		transform: scale(1.02);
	}
}
.login {
	min-height: 37rem;
}
// .btn {
// 	&.btn-danger {
// 		background-color: $bg-dark;
// 		color: white;
// 		border: none;
// 		&:hover {
// 			background-color: lighten($bg-dark, 10%);
// 		}
// 	}
// }
// Boostrap Styles
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
