// Custom Styles
$primary: teal;
$bg-dark: #ced4da;
a,
a:link,
a:visited {
	color: white;
	text-decoration: inherit;
	&:hover {
		color: white;
	}
}
textarea {
	resize: none;
}
.hover-scale {
	box-shadow: 3px 3px 20px rgba(80, 78, 78, 0.2);
	&:hover {
		transform: scale(1.02);
		box-shadow: 3px 3px 20px rgba(80, 78, 78, 0.4);
	}
}
.login {
	min-height: 37rem;
}

// Boostrap Styles
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
